@import "../../styles";

.shadow-box{
  background-color: $stark;
  border-radius: 3px;
  width: 33%;
}


.signUp{
  background-color: $void;
  color: white;
}
.cta-txt{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
.focus-txt{
  color: red;
}

